{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}
<style type="text/css">
  textarea{
    height:30px !important;
    border-bottom: 1px !important;
  }
</style>
 
<div class="form-box customFrombox formInnerPage">
<h1 class="topHeading">Company Profile</h1>
<div class="customFrom">
<form class="jotform-form" action="companyprofile" method="post" name="form_72261040284447" id="editCompanyForm" accept-charset="utf-8">
 {% crispy companyProfileForm %} 
 <div style="clear: both"></div>

<div class="companySectury">
<span>I am a </span>
	<div class="companySecturyInner">
		<input type="radio" name="radiocompanySectury"> <span>company Secretary</span>
	</div>
	<div class="companySecturyInner">
		<input type="radio" name="radiocompanySectury"> <span>Third party travel desk Secretary</span>
	</div>
	 
</div>

 <div style="clear: both"></div>
<div id="map"></div>

</form>




</div>
</div>
      
            
        </div>   




{% endblock %}
