{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<!-- <div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">An Awesome Tagline Goes Here</p>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid form-taxi-short">
               <div class="clearfix">&nbsp</div>
               <div class="clearfix">&nbsp</div>
               <div class="clearfix">&nbsp</div>
               <div class="clearfix">&nbsp</div>
               <div class="clearfix">&nbsp</div>
               <div class="clearfix">&nbsp</div>
               <div class="clearfix">&nbsp</div>

<div class="col-md-8 col-sm-12 col-xs-12">

                        <div class="page-sub-title text-center" style="position: relative;">
                            <h2>All rides</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

</div>
<div class="clearfix"></div>
<div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="clearfix"></div>

                        <div class="page-content">

                            <div class="rides-list">

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Plovdiv to Sofia</a></h3>ride by <a href="#">Stefan Valkov</a>
                                    </div>

                                    <ul class="ride-meta">

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 20, 2014 at 19:00 PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                       

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Read more
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Milano to Rome</a></h3>ride by <a href="#">Carlo Corti</a>
                                    </div>

                                    <ul class="ride-meta">

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 18, 2014 at 06:00 AM
                                            </a>
                                        </li><!-- end .ride-date -->

                                       

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Read more
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Lyon to Paris</a></h3>ride by <a href="#">Antoine Bonnet</a>
                                    </div>

                                    <ul class="ride-meta">

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 15, 2014 at 20:00 PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                       

                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Read more
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Barcelona to Madrid</a></h3>ride by <a href="#">Adriana Bello</a>
                                    </div>

                                    <ul class="ride-meta">

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 10, 2014 at 09:00 AM
                                            </a>
                                        </li><!-- end .ride-date -->
                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Read more
                                            </a>
                                        </li>
                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Munich to Berlin</a></h3>ride by <a href="#">Albert Becker</a>
                                    </div>

                                    <ul class="ride-meta">

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 08, 2014 at 22:00 PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                      
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Read more
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <div class="clearfix"></div>

                                <div class="post-pagination pagination-margin clearfix">

                                    <div class="next pull-right">
                                        <a href="#">
                                            Next
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>

                                </div><!-- end .post-pagination -->

                            </div><!-- end .events-list -->

                        </div><!-- end .page-content -->

                    </div>



<form class="form-validate col-md-4 pull-right" id="bookaRideform" novalidate="novalidate">

         <div class="row form-with-labels text-center form_first_content">
         <h2 class="text-center rideBookTitle">Book Ride</h2>
         <div class="clearfix"></div> 
         <div class="clearfix">&nbsp;</div>    
         <h2 class="text-center rideBookTitle" style="font-size: 20px">Enter Email or Mobile Number of your Contact</h2>          
          <div class="clearfix">&nbsp;</div>

          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <input type="text" name="email" value="" placeholder="email address" class="ajaxField required" aria-required="true" id="user_email"><span class="fa fa-person"></span>
            </div>
          </div>
          <div class="clearfix"></div>
          <h3 style="font-weight: bold;font-size: 13px;font-family: 'Fira Sans Condensed', sans-serif;">OR</h3>
          <div class="clearfix">&nbsp</div>
          
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <input type="text" name="mobile" value="" placeholder="Mobile" class="ajaxField required" aria-required="true"><span class="fa fa-phone"></span>
            </div>
          </div>

          <input type="button" value="Next" class="btn btn-lg btn-black btn-white aligncenter form_first_content_btn"  style="background: #1F1F1F;color: #fff;font-size: 16px;border-radius: 30px; margin: 0 auto;clear: both; display: block" onclick="check_user_lymousine()">

          <div class="clearfix">&nbsp</div>
          <div class="checking_user_details_waiting">
            <button type="button" class="btn btn-lg btn-black btn-white aligncenter"style="background: #1F1F1F;color: #fff;font-size: 16px;border-radius: 30px; margin: 0 auto;clear: both; display: block">
              <img src="{% static 'assets/images/loading.gif' %}" class="pull-left" style="height: 19px">
             <div class="text-left" style="padding: 2px 20px;font-size: 15px;text-transform: none">checking user details...</div> 
             </button>
          </div>

          <div class="clearfix"></div>
           <h2 class="text-center rideBookTitle userFoundText" style="font-size: 16px;margin-top:10px"> <i class="fa fa-checked"></i> User XYZ exist in the system. Click <span style="font-size: 18px;cursor: pointer;" onclick="form_first_content_btn_submit()">here</span> to book a ride for the user XYZ</h2>          
          <div class="clearfix"></div>
           
            

        </div>

        <div class="form_second_content">        
        <div class="menu-types">
          <a href="#" data-value="1" class="type-1 active">StandarD</a>
          <a href="#" data-value="3" class="type-3 red">Vip</a>
          <a href="#" data-value="2" class="type-2">SUV</a>
          <a href="#" data-value="4" class="type-4">VAN</a>
          <a href="#" data-value="4" class="type-5">Lymousine</a>
          <input type="hidden" name="type-value" id="type_value" class="type-value ajaxField" value="1">
        </div>
        <div class="row form-with-labels">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="origin-input" name="from" value="" placeholder="From Address..." class="ajaxField required" aria-required="true"><span class="fa fa-map-marker"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="destination-input" name="to" value="" placeholder="To..." class="ajaxField"><span class="fa fa-map-marker"></span>
            </div>
          </div>
        </div>
        <div id="map"></div>
        <div class="row form-with-labels">            
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="text" value="" placeholder="Date" class="ajaxField" id="datepicker"><span class="fa fa-calendar"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="text" value="" placeholder="Time" class="ajaxField" id="timepicker"><span class="fa fa-calendar"></span>
            </div>
          </div>

          <p class="text-center">for: Sudhir Raj Gowda</p>
          <div class="clearfix"></div>
          <div class="clearfix">&nbsp;</div>


        </div>

         <input type="submit" value="Book Ride" class="btn btn-lg btn-black btn-white aligncenter" style="background: #1F1F1F;color: #fff;font-size: 16px;border-radius: 30px; margin: 0 auto;clear: both; display: block ">
        <input type="hidden" id="type" name="type" value="2" class="ajaxField">
        <div class="clearfix"></div>
        <div class="clearfix">&nbsp;</div>
        <p class="text-center" onclick="form_reset()">Cancel Ride</p>

        </div>
      </form>


{% endblock container %}

 {% block scripts %}

 <script type="text/javascript">
   
   function form_first_content_btn_submit(){
    $(".form_first_content").hide();
    $(".form_second_content").show();
   }

   function form_reset(){
    $("#bookaRideform").trigger('reset');
    $(".form_first_content").show();
    $(".form_second_content").hide(); 
    $(".form_first_content_btn").show();
      $(".checking_user_details_waiting").hide();
      $(".userFoundText").hide();
   }

   function check_user_lymousine(){
      $(".form_first_content_btn").hide();
      $(".checking_user_details_waiting").show();
      // setTimeout(function(){
      //    $(".checking_user_details_waiting").hide();
      //    $(".userFoundText").show();
      // }, 2000);      
      event.preventDefault();
      var formData = {
          'email': $('#user_email').val() //for get email 
      };
      console.log(formData);
      $.ajax({
                url: "http://192.168.1.106:8000/lymousine/api/v1/forcorporateapplication",
                type: "post",
                data: formData,
                success: function(d) {
                    alert(d);
                     $(".checking_user_details_waiting").hide();
                     $(".userFoundText").show();
                }
            });
   }



   $(document).ready(function(){     
     $('.menu-types').on('click', 'a', function() {
      $(this).addClass('active').siblings('.active').removeClass('active');
      $(this).parent().find('.type-value').val($(this).data('value'));
      return false;
    });
   });



 </script>

  {% endblock scripts %}