

                            <div class="rides-list">

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Plovdiv to Sofia</a></h3>ride by <a href="#">Stefan Valkov</a>
                                    </div>

                                    <ul class="ride-meta">

                                      <li>
                                        New Ride Booked
                                      </li>
                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 20, 2014 at 19:00 PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                       
                                        
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Cancel Ride
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Invoice
                                            </a>
                                        </li>
                    
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Support
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Milano to Rome</a></h3>ride by <a href="#">Carlo Corti</a>
                                    </div>

                                    <ul class="ride-meta">

                                    <li>
                                        Booking Confirmed
                                      </li>
                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 18, 2014 at 06:00 AM
                                            </a>
                                        </li><!-- end .ride-date -->

                                       

                                         <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Cancel Ride
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Invoice
                                            </a>
                                        </li>
                    
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Support
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Lyon to Paris</a></h3>ride by <a href="#">Antoine Bonnet</a>
                                    </div>

                                    <ul class="ride-meta">

                                    <li>
                                        Ride Completed
                                      </li>

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 15, 2014 at 20:00 PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                       

                                         <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Cancel Ride
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Invoice
                                            </a>
                                        </li>
                    
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Support
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Barcelona to Madrid</a></h3>ride by <a href="#">Adriana Bello</a>
                                    </div>

                                    <ul class="ride-meta">

                                    <li>
                                        Ride Cancelled
                                      </li>
                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 10, 2014 at 09:00 AM
                                            </a>
                                        </li><!-- end .ride-date -->
                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Cancel Ride
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Invoice
                                            </a>
                                        </li>
                    
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Support
                                            </a>
                                        </li>
                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="#">From Munich to Berlin</a></h3>ride by <a href="#">Albert Becker</a>
                                    </div>

                                    <ul class="ride-meta">

                                    <li>
                                        Ride Completed
                                      </li>

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 08, 2014 at 22:00 PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                      
                                         <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Cancel Ride
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Invoice
                                            </a>
                                        </li>
                    
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-file"></i>
                                                Support
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->

                                <div class="clearfix"></div>

                            </div><!-- end .events-list -->



