{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}


<div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="clearfix">&nbsp;</div>
                       <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>
                         <div class="clearfix">&nbsp;</div>
                          <div class="clearfix">&nbsp;</div>
                           <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>
                            <a href="{% url 'payments:addpayment' %}">Add Payment Method</a>
                            <br/>
                             <br/>
                              <br/>

                        <div class="page-content">

                            <div class="rides-list">

                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                         <h3><a href="#">XYZ87a9SD98798AS</a></h3> <a href="#">XYZ NAME</a>
                                    </div>

                                    <ul class="ride-meta">

                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->    

                                 <article class="ride-box clearfix">

                                    <div class="ride-content">
                                         <h3><a href="#">ABC87a9SD98798AS</a></h3> <a href="#">ABC NAME</a>
                                    </div>

                                    <ul class="ride-meta">

                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->  


                                 <article class="ride-box clearfix">

                                    <div class="ride-content">
                                         <h3><a href="#">EFG87a9SD98798AS</a></h3> <a href="#">EFG NAME</a>
                                    </div>

                                    <ul class="ride-meta">

                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->  

                                 <article class="ride-box clearfix">

                                    <div class="ride-content">
                                         <h3><a href="#">HIJ87a9SD98798AS</a></h3> <a href="#">HIJ NAME</a>
                                    </div>

                                    <ul class="ride-meta">

                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->  


                                 <article class="ride-box clearfix">

                                    <div class="ride-content">
                                         <h3><a href="#">XYZ87a9SD98798AS</a></h3> <a href="#">XYZ NAME</a>
                                    </div>

                                    <ul class="ride-meta">

                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->                             

                                <div class="clearfix"></div>

                               

                            </div><!-- end .events-list -->

                        </div><!-- end .page-content -->


                         {% endblock %}