{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}


<div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="clearfix">&nbsp;</div>
                       <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>
                         <div class="clearfix">&nbsp;</div>
                          <div class="clearfix">&nbsp;</div>
                           <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>
                            <a href="{% url 'payments:addpayment' %}">Add Payment Method</a>
                            <br/>
                             <br/>
                              <br/>

                        <div class="page-content">

                        

                            
                            <div class="rides-list">

                                {% for payment in payments.all %}
                                  
                                  <article class="ride-box clearfix">

                                    <div class="ride-content">
                                         <h3><a href="#">{{ payment.cardNumber }}</a></h3> <a href="#">{{ payment.nameOnCard }}</a>
                                    </div>

                                    <ul class="ride-meta">

                                       
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->   

                                  {% endfor %}
                          

                                <div class="clearfix"></div>

                               

                            </div><!-- end .events-list -->

                        </div><!-- end .page-content -->


                         {% endblock %}